{% extends 'layouts/master.html' %}

{% block title %}Create event{% endblock %}

{% block content %}

<h1>Create event</h1>

<div class="card">
    <div class="card-body">
        <form method="POST" action="{{ route('events.store') }}">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name">
            </div>
            <div class="form-group">
                <label for="location">Location</label>
                <input type="text" class="form-control" id="location" name="location">
            </div>
            <div class="form-group">
                <label for="prix">Prix</label>
                <input type="number" class="form-control" id="prix" name="prix">
            </div>
            <div class="form-group">
                <label for="prix">Date</label>
                <input type="date" class="form-control" id="date" name="date">
            </div>
            <button type="submit" name="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>

{% endblock %}